.mainhead{
font-family: 'Chicle', cursive;
font-size: 125px;
color: #DB666B;
text-align:center;
position:absolute;

z-index:50;

top:100px;
bottom:20px;
right:400px;
left:350px;
margin-right:700px;

}

.gameintro{
  font-size: 25px;
  color: #DB666B;
  text-align: center;
  font-family: 'Noticia Text', serif;
  margin: auto;
  padding:40px;
}

#bodystyle {
background-color: #99C2D6;
text-align: center;
font-family: 'Noticia Text', serif;
margin:auto;
}


#remainGuess {

  text-align: center;
  font-family: 'Noticia Text', serif;
  margin: auto;
  padding:30px;
  color: #DB666B;
}

#letterdisplay
{
  text-align: center;
  font-family: 'Noticia Text', serif;
  margin: auto;
  padding:30px;
  font-size: 25px;

}

#letGuessed
{
  text-align: center;
  font-family: 'Noticia Text', serif;
  margin: auto;
  padding: 3px;
  color: #DB666B;
}

#status
{
  font-size:30px;
  text-align: center;
  font-family: 'Noticia Text', serif;
  margin: auto;
  padding:20px;
  color: ;
  text-decoration:underline;
  text-decoration-color: #DB666B
}

#winCount
{
  text-align: center;
  font-family: 'Noticia Text', serif;
  margin: auto;
  padding:30px;
  color: #DB666B;
}

#catpic
{

    border: 5px solid #DB666B;
    width:900px;
    height:500px;

    position:relative;
    margin-left:0x;
    margin-right:0x;
    border: 2px solid #DB666B;
    margin-top: 50px;
    z-index:1;

}
